name: Build and publish

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: "* */12 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    outputs:
      updated: ${{ steps.commit-changes.outputs.changes_detected }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Update templates
        run: ./update.sh

      - name: Commit changes
        id: commit-changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Job: update templates"
          file_pattern: paper/*/*/Dockerfile

  build:
    needs: [ update ]
    runs-on: ubuntu-latest
    if: ${{ needs.update.outputs.updated == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        run: ./build.sh
